body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 2rem;
    background: #d3c2f3; 
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #4c2a85;
}

#malla {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
}

.semestre {
    background: #aeb8ff;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.semestre h2 {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    color: #4c2a85;
}

.ramo {
    border: 1px solid #ccc;
    padding: 10px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 0.9rem;
    text-align: center;
    background-color: #f9f9f9;
}

.ramo:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}


.ramo.aprobado {
    background-color: #d0f0c0;
    text-decoration: line-through;
}
.ramo.pendiente {
    background-color: #f9d5e5; 
}
.ramo.desbloqueado {
    background-color: #fff6b7;
}

.ramo.electrica {
    background-color: #c8d6f7;
}
.ramo.general {
    background-color: #e0c3fc; 
}
.ramo.plancomun {
    background-color: #d6eaff; 
}

.ramo.ofg {
    background-color: #fce0f7; 
}

.ramo.major {
    background-color: #e0d9ff; 
}

.ramo.minor {
    background-color: #f9f0c3; 
}
.logo-uc {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 1000px;
    opacity: 0.85;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.logo-uc:hover {
    transform: scale(1.1);
    opacity: 1;
}
